<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SauceLabsAutomation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SauceLabsAutomation.Properties.Settings>
            <setting name="SauceConnectCmdRelayType" serializeAs="String">
                <value>VM</value>
            </setting>
            <setting name="seleniumURI" serializeAs="String">
                <value>@ondemand.saucelabs.com:80</value>
            </setting>
            <setting name="vmSeleniumURI" serializeAs="String">
                <value>@192.168.200.70:4445</value>
            </setting>
            <setting name="localSeleniumURI" serializeAs="String">
                <value>@localhost:4445</value>
            </setting>
            <setting name="sauceUname" serializeAs="String">
                <value>lottotestnz</value>
            </setting>
            <setting name="sauceUkay" serializeAs="String">
                <value>4441f476-39c5-419f-9b4b-437e8323d461</value>
            </setting>
            <setting name="sauce_AndroidAPK_filename" serializeAs="String">
                <value>sauce-storage:mylotto-cat1.apk</value>
            </setting>
            <setting name="sauce_AndroidAPK_appPackage" serializeAs="String">
                <value>co.nz.mylotto.cat1</value>
            </setting>
            <setting name="sauce_AndroidAPK_appActivity" serializeAs="String">
                <value>co.nz.mylotto.MainActivity</value>
            </setting>
            <setting name="sauce_IOSIPA_filename" serializeAs="String">
                <value>sauce-storage:LottoNZ.zip</value>
            </setting>
            <setting name="WEB_Browser" serializeAs="String">
                <value />
            </setting>
        </SauceLabsAutomation.Properties.Settings>
    </userSettings>
                 <runtime>
                                  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
                                                   <dependentAssembly>
                                                                    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                                                                    <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
                                                   </dependentAssembly>
                                  </assemblyBinding>
                 </runtime>
</configuration>